<div class="container">
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1>Edit this task</h1>
		<form action="/todo/<%= @donnees.id %>" method="post">
			<input type="hidden" value="put" name="_method">
			<input type="text" name="content" value="<%= @donnees.content %>" placeholder="Edit your task">
			<button class="btn btn-success">Edit</button>
		</form>
		<div class="div"></div>
	</div>
</div>
</div>